.header-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}


.head-left > input{
    border: none;
    width: 100%;
}

.head-right{
  display: flex;
  align-items: center;
}

.head-right > h4{
    margin-right: 10px;
}
